/*Asterisk wildcard selector to override default styles added by the browser*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*Header*/
header{
    background-color: rgb(255, 0, 21);
}
/*Main*/
main{
    background-color: brown;
}
/*Footer*/
footer{
    background-color: green;
}